<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a routerLink="/">
        <span class="logo-main">FLY</span><span class="logo-alt">GULF</span>
      </a>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()" [class.open]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>

  <ul class="nav-links" [class.mobile-active]="isMenuOpen">
  <li><a routerLink="/" (click)="closeMenu()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <li><a routerLink="/about" (click)="closeMenu()" routerLinkActive="active">About Us</a></li>
  <li><a routerLink="/courses" (click)="closeMenu()" routerLinkActive="active">Courses</a></li>
    <li><a routerLink="/data-flow" (click)="closeMenu()" routerLinkActive="active">DataFlow</a></li>
  
  <li><a routerLink="/gallery" (click)="closeMenu()" routerLinkActive="active">Gallery</a></li>
  
  <li><a routerLink="/blogs" (click)="closeMenu()" routerLinkActive="active">Blogs</a></li>
  
  <li><a routerLink="/reviews" (click)="closeMenu()" routerLinkActive="active">Review</a></li>
  
  <li><a routerLink="/contactus" class="cta-button" (click)="closeMenu()">Contact us</a></li>
</ul>
  </div>
</nav>