@import "tailwindcss";




html { scrollbar-width: thin; scrollbar-color: #94a3b8 #f1f5f9; }
html::-webkit-scrollbar { width: 7px; }
html::-webkit-scrollbar-track { background: #f1f5f9; }
html::-webkit-scrollbar-thumb { background: #94a3b8; border-radius: 10px; }
html::-webkit-scrollbar-thumb:hover { background: #1a237e; }